{% macro parallax(image_url, text_large='', text_small='', id='') %}
<div id="parallax-{{ id }}" class="parallax-container">
    <div class="parallax"><img src="{{ image_url }}"></div>
    <div class="parallax-hover">
      {% if  text_large %} 
        <p class="text-large">{{ text_large }}</p>
        
        {% if text_small %}
          <p class="text-small">{{ text_small }}</p>
        {% endif %}
      
      {% elif text_small %}
        <p class="text-small">{{ text_small }}</p>
      {% endif %}
    </div>
</div>
{%- endmacro %}