@import 'materialize-css/sass/about.materialize.scss';
@import './common.scss';
@import './components/parallax.scss';

.carousel {
    height: 200px;
}
.section-content {
    padding: 20px;
}

.section {
    p {
        font-size: 1.3rem;
        text-align: justify;
    }
}
.image-title {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.materialboxed {
    width: 100%;
    min-height: 185px;
    max-height: 185px;
}
.image {
    .active {
        z-index: 1051 !important;
    }
}
#materialbox-overlay {
    z-index: 1050 !important;
}
@media screen and (max-width: 600px) {
    // .section-content {
    //     padding: 20px 10px;
    // }
}