@import 'materialize-css/sass/about.materialize.scss';
@import './common.scss';
@import './components/parallax.scss';

.carousel {
    height: 200px;
}
.section-content {
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .section-content {
        padding: 10px;
    }
}