@import 'materialize-css/sass/about.materialize.scss';
@import './common.scss';
@import './components/parallax.scss';

.carousel {
    height: 200px;
}
.section-content {
    padding: 20px;
}

.section {
    p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    // .section-content {
    //     padding: 20px 10px;
    // }
}