@import 'materialize-css/sass/materialize.scss';
@import './components/reset.scss';
@import './components/helper.scss';
@import './components/nav.scss';
@import './components/fab.scss';
@import './components/footer.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    @include fill-both;
    scroll-behavior: smooth;
}

body {
    @include total-hw;
    position: relative;
    background-color: #424242;
    font-family: 'Poppins';
}
h5 {
    margin-bottom: 0px;
}
footer {
    .author {
        font-size: 12px;;
    }
}