@import 'materialize-css/sass/materialize.scss';
@import './components/helper.scss';
@import 'components/nav';

html {
    @include fill-both;
}

body {
    @include total-hw;
    position: relative;
    background-color: #424242;
}
h5 {
    margin-bottom: 0px;
}