@import 'materialize-css/sass/index.materialize.scss';
@import './common.scss';
@import './components/parallax.scss';
@import './components/carousel.scss';

.container {
    width: 100% !important;
}
.section-content {
    padding: 20px;
}
.section-description {
    p {
        font-size: 1.6rem;
        line-height: 1.6;
        text-align: center;
    }
}
.section-interaction {
    display: flex;
    justify-content: center;
}
.carousel {
    border-radius: 5px;
}
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title {
    font-weight: 500 !important;
}
.card-content {

    p {
        text-align: center;
        font-size: 1.3rem;
    }
}
.card-image img {
    height: 175px;
}
.redirect {
    width: 10px;
    height: 10px !important;
    padding: 0 !important;
    margin-bottom: 4px;
}

@media screen and(max-width: 600px) {
    .carousel {
        height: 160px;
    }
}

@media screen and (max-width: 340px) {
    .section-content {
        padding: 20px 10px;
    }
}