@import './components/helper.scss';
@import './common.scss';
@import './components/parallax.scss';

.container {
   width: 100% !important;  
}

.fullscreen {
    position: relative !important;
    top: -56px !important;
}
.slides {
    position: relative !important;

    .active {
        img {
            opacity: 0.4;
        }
    }
   
}
.caption {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        padding: 20px;
        text-align: center;
        border-radius: 7px;
    }
    
    .pointer {
        width: fit-content;
        margin: 0 auto;
        position: relative;
        top: 30px;
    }
}

.section {

    .section-content {
        padding: 20px 30px;
    }
}

.dropdown-container {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.cardNoImg-container {

    .card {
        height: 210px;
     
        .card-image{
            // display: flex;
            // height: 50%;
            // justify-content: center;
            // align-items: center;
            padding: 5px;

            img {
                min-height: 100px;
            }
        }
        .card-title {
            
            position: relative;
            padding: unset !important;
            text-align: center;
            font-size: 20px;
        }
        .card-content {
            display: flex;
            padding: 15px;
            
            .product-name {
                flex: 1;
            }

            .raiser {
                margin-left: 5px;
                cursor: pointer;
            }
        }
        
    }
}

.card-reveal {
    .card-title {
        margin-top: 10px;
    }
    .closer{
        position: absolute !important;
        right: 10px;
        top: 0px;    
    }
}
.no-img {
    height: 180px !important;
}
.no-img-text {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#ifb {
    .card {
        height: 280px;
    }
}
#natural {
    .card {
        height: 280px;
    }
}
#nutralite {
    .card {
        height: 260px;
    }
}
#knorr {
    .card {
        height: 270px;
    }
}
#prabhat {
    .card {
        height: 230px;
    }
}

@media screen and (max-width: 600px) {
    .slider {
        .indicators {
            .indicator-item {
                width: 10px;
                height: 10px;
                margin: 0 9px;
            }
        }
    }
    .caption {
        h3 {
            font-size: 35px;
            line-height: 50px;
        }
    }
    .section {

        .section-content {
            padding: 20px 10px;
        }
    }
    .card {
        .card-title {
            font-size: 16px !important;
        }
        .card-content{
            padding: 10px !important;
        }

    }
    #nutralite {
        .card {
            height: 210px;
        }
    }
    #natural, #ifb {
        .card {
            height: 230px;
        }
    }

}

