.card-container {
    display: flex;
    position: relative;
}

.card-reveal-container {
    .card {
        height: 250px;
    }

    img {
        height: 170px;
        padding: 20px;
    }
}

@media screen and (max-width: 997px) {
    .card-container {
        flex-direction: column;
    }
}