.carousel {
    height: 250px;

    .carousel-item {
        top: 35px;
       
    }
}

@media screen and (max-width: 320px) {
    .carousel-item {
        width: 185px !important;
    }
}

@media screen and (min-width: 600px) {
    .carousel-item {
        width: 300px !important;
    }
}