$red: #e53935;

nav {
    position: relative;
    z-index: 1000;

    ul li a {
        color: #fff;
    }
}
.nav-menu {
    height: 0px;

    .red {
        background-color: $red !important;
    }
}
.brand-logo {
    @include flex-center-xy;
    width: 100%;
    padding: 0 !important;
}
.fixed-action-btn {
    position: relative;
    right: 0;
    bottom: 40px;
    display: flex;
    justify-content: center;

    ul {
        top: 70px !important;

        li {
            margin: 0 !important;

            a {
                @include flex-center-xy;
                width: -webkit-fill-available;
                height: 50px;
                border-radius: 0px;

                i {
                    font-size: 1.3rem;
                    width: fit-content;
                }

                span {
                    font-size: 1.15rem;
                    padding-left: 5px;
                }
            }
        }
    }
    
    .btn-large {
        width: 80px;
        height: 70px;

        i {
            position: relative;
            bottom: -34px;
            border-radius: 100%;
            height: 10px;
            line-height: 40px;
            font-size: 2.3rem;
        }
    }
}

@media screen and (min-width: 997px) {
    .brand-logo {
        display: inline-block !important;
        padding-left: 20px !important;
    }
}