$red: #e53935;

nav {
    position: relative;
    z-index: 1000;

    ul li a {
        color: #fff;
    }
}
.nav-menu-container {
    position: fixed;
    width: 100%;
    z-index: 996;
}
.nav-menu {
    height: 0px;

    .red {
        background-color: $red !important;
    }
}
.brand-logo {
    @include flex-center-xy;
    width: 100%;
    padding: 0 !important;
    text-align: center;
}

@media screen and (min-width: 997px) {
    .brand-logo {
        display: inline-block !important;
        padding-left: 20px !important;
    }
}