.parallax-container {
    height: 70%;
}
.parallax img {
    opacity: 0.37 !important;
}
.parallax-hover {
   @include flex-center-total;
   flex-direction: column;
   color: #fff;
   position: relative;
   margin-top: 100px;

   p {
       text-align: center;
       margin: 0;
   }

   .text-large {
       font-size: 2.5rem;
       margin-bottom: 20px;
   }
   .text-small {
       font-size: 1.5rem;
   }
}
.products {
    position: relative;
    top: -40px;
}
#parallax-2 {
    top: -100px;
    height: fit-content;
}
.parallax-components {
    color: #424242;
    display: flex;
    flex-wrap: wrap;
}
