.parallax-container {
    height: 70%;
}
.parallax img {
    opacity: 0.37 !important;
}
.parallax-hover {
   @include flex-center-total;
   flex-direction: column;
   position: relative;

   p {
       text-align: center;
       margin: 0;
   }

   .text-large {
        color: #fff !important;
        font-size: 3.5rem;
        margin-bottom: 20px;
        font-weight: 600;
   }
   .text-small {
        color: #fff !important;
        font-size: 1.5rem;
   }
}
.products {
    position: relative;
    top: -40px;
}
#parallax-2 {
    top: -100px;
}