.parallax-container {
    height: 350px;
}
.parallax img {
    opacity: 0.37 !important;
}
.parallax-hover {
   @include flex-center-total;
   flex-direction: column;
   color: #fff;

   p {
       text-align: center;
       margin: 0;
   }

   .text-large {
       font-size: 2.5rem;
       margin-bottom: 20px;
   }
   .text-small {
       font-size: 1.5rem;
   }
}
.products {
    position: relative;
    top: -40px;
}
.section-content {
    padding: 20px;
}