{% extends 'layout.html' %}

{% block title %}About Shreevarada Enterprise{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/about.css') }}">
{% endblock %}

{% block nav %}
  {{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'shopping_cart'
      },
      {
        'name': 'Products',
        'color': 'green',
        'href': '/products',
        'icon': 'info_outline'
      },
      {
        'name': 'Connect',
        'color': 'red',
        'href': '/connect',
        'icon': 'call_made'
      }
    ]) 
  }}
{% endblock %}

{% block content %}
  <main class="main">
    {#
      ### Things to add in about page ###
      -> Companies history.
      -> Supply and distribution and retail store bifurcation.
      -> Other business and future vision.
      -> Employees and job profile (A quote.)
      -> Photo gallery (A title)
      -> M photo
    #}
    {{ 
      macro.parallax(
        macro,
        '1',
        ['prx_1.jpg'],
        'Shreevarada Enterprise',
        'Serving Since XXXX'
      ) 
    }}
<div class="container">
    {{
      macro.section(
        macro,
        '1',
        'Our History', 
        [
          {
            'name': 'description',
            'attr': 'Shreevarada Enterprise functions as a distributor of a varierty of frozen food products cross the country. The products range from veg., chicken, and fish frozen foods from popular companies such as McCain, Venky\'s, and IFB Agro to name a few. Apart from frozen food products, Shreevarada Enterprise supply many kinds of creams, mayonesse, cheese, butter, chocolates, syrups, crushes, pizzas, sauces and various other food products.'
          },
          {
            'name': 'description',
            'attr': 'Shreevarada Enterprise was founded in 2011 in Daman. The company initially started small, partnering with McCain and Venkys and distributing their products across local territories. With time, the number of partnering companies grew and supply regions expanded. Presently, Shreevarada Enterprise partners with 18 famous food companies ranging from frozen food to fryables to bakery items.'
          }
        ]
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'Our Businesses', 
        [
          {
            'name': 'description',
            'attr': 'Our business has two aspects: the first one deals with businesses and supplies products to them in bulk quantities, and the second aspect deals directly with retail customers. The distribution supplies products to small, medium, large, and extremely large businesses nation-wide. The retail shop provides walk-in customers with food products which include frozen food, DIY bakery and pizza items.'
          }
        ]
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'How do we work?', 
        'Some description'
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'Our Team', 
        'Some description'
      )
    }}
  </div>
    <div class="divider white"></div>
    {{
      macro.footer(marco, [])
    }}
</main>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='dist/js/about.js') }}"></script>
{% endblock %}