{% extends 'layout.html' %}

{% block title %}About Shreevarada Enterprise{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/about.css') }}">
{% endblock %}

{% block nav %}
  {{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'shopping_cart'
      },
      {
        'name': 'Products',
        'color': 'green',
        'href': '/products',
        'icon': 'info_outline'
      },
      {
        'name': 'Connect',
        'color': 'red',
        'href': '/connect',
        'icon': 'call_made'
      }
    ]) 
  }}
{% endblock %}

{% block content %}
  <main class="main">
    {#
      ### Things to add in about page ###
      -> Companies history.
      -> Supply and distribution and retail store bifurcation.
      -> Other business and future vision.
      -> Employees and job profile (A quote.)
      -> Photo gallery (A title)
      -> M photo
    #}
    {{ 
      macro.parallax(
        macro,
        '1',
        ['prx_1.jpg'],
        'Shreevarada Enterprise',
        'Serving Since 2011'
      ) 
    }}
<div class="container">
    {{
      macro.section(
        macro,
        'history',
        'Our History', 
        [
          {
            'name': 'description',
            'attr': '<p><b>Shreevarada Enterprise</b> functions as a distributor of a varierty of frozen food products across the country. The products range from veg, chicken, and fish frozen foods from popular companies such as McCain, Venky\'s, and IFB Agro to name a few. Apart from frozen food products, <b>Shreevarada Enterprise</b> supply many kinds of creams, mayonesse, cheese, butter, chocolates, syrups, crushes, pizzas, sauces and various other food products.</p>
            <p><b>Shreevarada Enterprise</b> was founded in <b>2011</b> in <b>Daman</b>. The company initially started small, partnering with McCain and Venkys and distributing their products across local territories. With time, the number of partnering companies grew and supply regions expanded. Presently, <b>Shreevarada Enterprise</b> partners with <b>18 famous food companies</b> ranging from frozen food to fryables to bakery items.</p>'
          }
        ]
      )
    }}

    {{
      macro.section(
        macro,
        'businesses',
        'Our Businesses', 
        [
          {
            'name': 'description',
            'attr': '<p>Our business spreads into two wide spectrums: <b>Product Distributorship and Retail</b>. <p>The first one deals with supplying products to businesses in bulk quantities. We deal with businesses small and large, and supply them with our top quality products on an on-demand basis. We currently serve in all major cities across the entire country and are expanding our supply-radius to other parts as well. Currently, we deliver food products of <b>18 major international and national food corporations</b>. We supply any quantity of products with an on-time promise.</p> 
            <p>The retail shop provides all the food products, that we supply and distribute, to walk-in customers. This also includes <b>DIY (Do It Yourself) bakering and pizza-making kits</b>. We provide all kinds of seasoning, spreads, butter, cheese, and dressing items to home-business owners and hobbyists. We also have a home-delivery service on specified order quantities.</p>'
          }
        ]
      )
    }}

    {{
      macro.section(
        macro,
        'gallery',
        'Gallery', 
        [
          {
            'name': 'media',
            'attr': [
                {'src': 'gallery/Main Office Entrance.jpg', 'name': 'Main Office Entrance'},
                {'src': 'gallery/Front Office.jpg', 'name': 'Front Office'},
                {'src': 'gallery/Cold Storage Chamber.jpg', 'name': 'Cold Storage Chamber'},
                {'src': 'gallery/Retail Entrance.jpg', 'name': 'Retail Entrance'},
                {'src': 'gallery/Retail Counter.jpg', 'name': 'Retail Counter'},
                {'src': 'gallery/Dressing Molds.jpg', 'name': 'Dressing Molds'},
                {'src': 'gallery/Multi-purpose Molds.jpg', 'name': 'Multi-purpose Molds'},
                {'src': 'gallery/Products-1.jpg', 'name': 'Products-1'},
                {'src': 'gallery/Products-2.jpg', 'name': 'Products-2'},
                {'src': 'gallery/Products-3.jpg', 'name': 'Products-3'},
                {'src': 'gallery/Products-4.jpg', 'name': 'Products-4'},
                {'src': 'gallery/Products-5.jpg', 'name': 'Products-5'}
            ]
          }
        ]
      )
    }}
  </div>
    <div class="divider white"></div>
    {{
      macro.footer(marco, [])
    }}
</main>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='dist/js/about.js') }}"></script>
{% endblock %}