{% extends 'layout.html' %}

{% block title %}About Shreevarada Enterprise{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/about.css') }}">
{% endblock %}

{% block nav %}
  {{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'shopping_cart'
      },
      {
        'name': 'Products',
        'color': 'green',
        'href': '/products',
        'icon': 'info_outline'
      },
      {
        'name': 'Connect',
        'color': 'red',
        'href': '/connect',
        'icon': 'call_made'
      }
    ]) 
  }}
{% endblock %}

{% block content %}
  <main class="main">
    {#
      ### Things to add in about page ###
      -> Companies history.
      -> Supply and distribution and retail store bifurcation.
      -> Other business and future vision.
      -> Employees and job profile (A quote.)
      -> Photo gallery (A title)
      -> M photo
    #}
    {{ 
      macro.parallax(
        macro,
        '1',
        ['prx_1.jpg'],
        'Shreevarada Enterprise',
        'Serving Since XXXX'
      ) 
    }}
<div class="container">
    {{
      macro.section(
        macro,
        '1',
        'Our History', 
        'Some description'
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'Our Businesses', 
        'Some description'
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'How do we work?', 
        'Some description'
      )
    }}

    {{
      macro.section(
        macro,
        '1',
        'Our Team', 
        'Some description'
      )
    }}
  </div>
    <div class="divider white"></div>
    {{
      macro.footer(marco, [])
    }}
</main>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='dist/js/about.js') }}"></script>
{% endblock %}