{# Scripts #}
{% macro scripts() %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endmacro %}

{# Nav #}
{% macro nav(links) %}
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <!-- <img src="{{ url_for('static', filename='dist/img/logo.svg') }}" alt=""> -->
          Shreevarada Enterprise
        </a>
        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <ul class="right hide-on-med-and-down">
          {% for link in links %}
            <li><a href="{{ link['href'] }}" class="{{ link['color'] }}">{{ link['name'] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>

  <div class="nav-menu-container">
    <div class="nav-menu hide-on-large-only">
      <div class="fixed-action-btn" data-active="false">
        <a class="btn-floating btn-large red">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
        <ul>
          {% for link in links %}
            <li><a href="{{ link['href'] }}" class="btn-floating {{ link['color'] }}"><i class="material-icons">{{ link['icon'] }}</i><span>{{ link['name'] }}</span></a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <!-- <div class="item-dropdown-container">
      <ul>
        <li>Item one</li>
        <li>Item two</li>
      </ul>
    </div> -->
  </div>
{% endmacro %}

{# Parallax #}
{% macro parallax(macro, id, imgs, text_large='', text_small='', components=[]) %}
<div id="parallax-{{ id }}" class="parallax-container">
  {% for img in imgs %}
    <div class="parallax">
      <img src="{{ url_for('static', filename='dist/img/') }}{{ img }}">
    </div>
  {% endfor %}
    <div class="parallax-hover">
      <div class="parallax-text">
        {% if  text_large %} 
          <p class="text-large">{{ text_large }}</p>
          
          {% if text_small %}
            <p class="text-small">{{ text_small }}</p>
          {% endif %}
        
        {% elif text_small %}
          <p class="text-small">{{ text_small }}</p>
        {% endif %}
      </div>
    </div>
</div>
{% endmacro %}

{# section #}
{% macro section(macro, id, header, description='', components=[]) %}
    <div id="{{ id }}" class="section products">
      <div class="row">
          <div class="col s12 l10 push-l1">
            <div class="section-content white">
              <div class="section-header">
                <h3 class="header center mr-b-10">{{ header }}</h3>
              </div>
              <div class="divider"></div>
              <div class="section-content">
                {% if description %} 
                  <div class="section-description">
                    <p class="grey-text text-darken-3 lighten-3">
                      <!-- Some short description on the products that are being offered. -->
                      {{ description }}
                    </p>
                  </div>
                {% endif %}
                {% if components %}
                  <div class="components section-components">
                    {{ macro.selector(macro, components) }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
{% endmacro %}

{% macro sectionProducts(macro, id, header, description, components=[], button='') %}
    <div id="{{ id }}" class="section products">
      <div class="row">
          <div class="col s12 l10 push-l1">
            <div class="section-content white">
              <div class="section-header">
                <h3 class="header center mr-b-10">{{ header }}</h3>
              </div>
              <div class="divider"></div>
              <div class="section-content">
                {% if description %} 
                  <div class="section-description">
                    <p class="grey-text text-darken-3 lighten-3">
                      <!-- Some short description on the products that are being offered. -->
                      {{ description }}
                    </p>
                  </div>
                {% endif %}
                {% if components %}
                  <div class="components section-components">
                    {{ macro.selector(macro, components) }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
{% endmacro %}

{# Carousel #}
{% macro carousel(items, fullscreen) %}
  <div class="carousel
    {% if fullscreen %}
    carousel-slider
    {% endif %}
  ">
      {% for item in items %}
          <a class="carousel-item" href="{{ item['href'] }}"><img src="{{ item['src'] }}"></a>
      {% endfor %}
  </div>
{% endmacro %}

{% macro carouselSpecial(macro, id, panels, fixed_center) %}
  <div id="{{ id }}" class="carousel carousel-slider center">
    {% if fixed_center %}
      <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">{{ fixed_center['text'] }}</a>
      </div>
    {% endif %}
    {% for panel in panels %}
      <div class="carousel-item" href="#{{ panel['href'] }}">
        <img src="{{ url_for('static', filename='dist/img/') }}{{ panel['src'] }}">
        <h2>{{ panel['header'] }}</h2>
        <p class="{{ panel['fg'] }}">{{ panel['desc'] }}</p>
      </div>
    {% endfor %}
  
  </div>
{% endmacro %}

{# Button #}
{% macro button(buttons) %}
    <div class="section-interaction">
      {% for button in buttons %}
        <button class="wave-effect wave-light btn red">{{ button['text'] }}</button>
      {% endfor %}
    </div>
{% endmacro %}

{# Card #}
{% macro card(cards) %}
  <div class="card-container">
    <div class="card-cover">
      <div class="row">
      {% for card in cards[1:] %}
          <div class="col {{ cards[0]['size'] }}">
            <div class="card">
              <div class="card-image">
                <img src="{{ url_for('static', filename='dist/img/') }}{{ card['url'] }}">
                <span class="card-title">{{ card['title'] }}</span>
              </div>
              <div class="card-content">
                <p>{{ card['content'] }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro card_reveal(cards) %}
  <div class="card-reveal-container">
    <div class="row">
    {% for card in cards[1:] %}
      <div class="col {{ cards[0]['size'] }}">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename='dist/img/') }}{{ card['url'] }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ card['title'] }}<i class="material-icons right">arrow_upward</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro slider(slides) %}
<div class="slider fullscreen">
  <ul class="slides">
    {% for slide in slides %}
      <li>
        <img src="{{ url_for('static', filename='dist/img/') }}{{ slide['src'] }}"> <!-- random image -->
        <div class="caption left-align">
          <h3>{{ slide['header'] }}</h3>
          <button class="wave-effect wave-light btn {{ slide['btn-color'] }} pointer" data-scrollto="{{ slide['scrollto'] }}">Browse</button>
        </div>
      </li>
      {% endfor %}
  </ul>
</div>
{% endmacro %}


{% macro footer(macro, attributes) %}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="">Shreevarada Enterprise</h5>
        <p class="grey-text text-lighten-4">
          A Growing Forzen Food Distribution Chain
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="">Connect With Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 All Rights Reserved
    <a class="grey-text text-lighten-4 right author" href="#!">Made by Nawaaz K.</a>
    </div>
  </div>
</footer>
{% endmacro %}

{% macro select(options) %}
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
{% endmacro %}

{% macro dropdown(dd) %}
  <div class="dropdown-container">
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn' href='#!' data-target='dropdown1'>{{ dd['name'] }}</a>
    
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      {% for item in dd['items'] %}
      <li><a href="#!" class="filter-item" data-show="{{ item }}">{{ item | capitalize }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro selector(macro, components) %}
  {% for component in components %}
    {% if component['name'] == 'card' %}
      {{ macro.card(component['attr']) }}
    {% elif component['name'] == 'card_reveal' %}
      {{ macro.card_reveal(component['attr']) }}
    {% elif component['name'] == 'carousel' %}
      {{ macro.carousel(component['attr']) }}
    {% elif component['name'] == 'button' %}
      {{ macro.button(component['attr']) }}
    {% elif component['name'] == 'dropdown' %}
      {{ macro.dropdown(component['attr']) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

