{# Scripts #}
{% macro scripts() %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endmacro %}

{# Nav #}
{% macro nav() %}
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          <!-- <img src="{{ url_for('static', filename='dist/img/logo.svg') }}" alt=""> -->
          Shreevarada Enterprise
        </a>
        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <ul class="right hide-on-med-and-down">
          <li><a class="green" href="/">About Us</a></li>
          <li><a class="amber accent-2"  href="/products">Products</a></li>
          <li><a class="red" href="/connect">Connect</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="nav-menu-container">
    <div class="nav-menu hide-on-large-only">
      <div class="fixed-action-btn" data-active="false">
        <a class="btn-floating btn-large red">
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">call_made</i><span>Connect</span></a></li>
          <li><a class="btn-floating amber accent-2"><i class="material-icons">shopping_cart</i><span>Products</span></a></li>
          <li><a class="btn-floating green"><i class="material-icons">info_outline</i><span>About Us</span></a></li>
          <!-- <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="item-dropdown-container">
      <ul>
        <li>Item one</li>
        <li>Item two</li>
      </ul>
    </div> -->
  </div>
{% endmacro %}

{# Parallax #}
{% macro parallax(macro, id, image_url, text_large='', text_small='', components=[]) %}
<div id="parallax-{{ id }}" class="parallax-container">
    <div class="parallax"><img src="{{ image_url }}"></div>
    <div class="parallax-hover">
      <div class="parallax-text">
        {% if  text_large %} 
          <p class="text-large">{{ text_large }}</p>
          
          {% if text_small %}
            <p class="text-small">{{ text_small }}</p>
          {% endif %}
        
        {% elif text_small %}
          <p class="text-small">{{ text_small }}</p>
        {% endif %}
      </div>
    </div>
</div>
{% endmacro %}

{# section #}
{% macro section(macro, id, header, description, components=[], button='') %}
    <div id="{{ id }}" class="section products">
      <div class="row">
          <div class="col s12 l10 push-l1">
            <div class="section-content white">
              <div class="section-header">
                <h3 class="header center mr-b-10">{{ header }}</h3>
              </div>
              <div class="divider"></div>
              <div class="section-content">
                {% if description %} 
                  <div class="section-description">
                    <p class="grey-text text-darken-3 lighten-3">
                      <!-- Some short description on the products that are being offered. -->
                      {{ description }}
                    </p>
                  </div>
                {% endif %}
                {% if components %}
                  <div class="components section-components">
                    {{ macro.selector(macro, components) }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
{% endmacro %}

{# Carousel #}
{% macro carousel(items) %}
  <div class="carousel">
    
      {% for item in items %}
          <a class="carousel-item" href="{{ item['href'] }}"><img src="{{ item['src'] }}"></a>
      {% endfor %}
  </div>
{% endmacro %}


{# Button #}
{% macro button(text) %}
    <div class="section-interaction">
        <button class="wave-effect wave-light btn red">{{ text }}</button>
    </div>
{% endmacro %}

{# Card #}
{% macro card(cards) %}
  <div class="card-container">
    {% for card in cards %}
      <div class="card-cover">
        <div class="row">
          <div class="col s10 push-s1">
            <div class="card">
              <div class="card-image">
                <img src="{{ card['url'] }}">
                <span class="card-title">{{ card['title'] }}</span>
              </div>
              <div class="card-content">
                <p>{{ card['content'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro card_reveal(cards) %}
  <div class="card-reveal-container">
    <div class="row">
    {% for card in cards %}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename=card['src']) }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ card['title'] }}<i class="material-icons right">arrow_upward</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro selector(macro, components) %}
  {% for component in components %}
    {% if component['name'] == 'card' %}
      {{ macro.card(component['attr']) }}
    {% elif component['name'] == 'card_reveal' %}
      {{ macro.card_reveal(component['attr']) }}
    {% elif component['name'] == 'carousel' %}
      {{ macro.carousel(component['attr']) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

