{% extends 'layout.html' %}

{% block title %}Connect with Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/connect.css') }}">
{% endblock %}

{% block nav %}
    {{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'shopping_cart'
      },
      {
        'name': 'Products',
        'color': 'green',
        'href': '/products',
        'icon': 'info_outline'
      },
      {
        'name': 'About Us',
        'color': 'red',
        'href': '/about',
        'icon': 'call_made'
      }
    ]) 
  }}
{% endblock %}

{% block content %}
  {#
    ### Things to place in connect page ###
    1. Location on maps
    2. Address of both shops with 1
    3. FAQs
    4. A query form
    5. Social media handles  
  #}

  <main class="main">
    <div class="container">
        {{
          macro.section(
            macro,
            '1',
            'Our Location', 
            [
              {
                'name': 'raw',
                'attr': 'maps.html'
              }
            ]
          )
        }}

        {{
          macro.section(
            macro,
            '1',
            'Our Social Handles',
            [
              {
                'name': 'description',
                'attr': 'Follow us on social platforms to stay updated with our new and and upcoming products.'
              },
              {
                'name': 'flat',
                'attr': [
                  {
                    'url': 'social/facebook.svg',
                    'link': 'https://www.facebook.com',
                    'text': 'Follow us on facebook'
                  },
                  {
                    'url': 'social/instagram.svg',
                    'link': 'https://www.instagram.com',
                    'text': 'Follow us on Instagram'
                  },
                  {
                    'url': 'social/linkedin.svg',
                    'link': 'https://www.linkedin.com',
                    'text': 'Follow us on LinkedIn'
                  }
                ]
              }
            ]
          )
        }}
        {#}
        {{
          macro.section(
            macro,
            '1',
            'FAQ', 
            'Some description'
          )
        }}
        {#}
        {{
          macro.section(
            macro,
            '1',
            'Ask Us', 
            [
              {
                'name': 'description',
                'attr': 'If you have any query related to our services or products, or if you want to provide a feedback, please write to us.'
              },
              {
                'name': 'form',
                'attr': [
                  {
                    'row': [
                      {
                        'size': 'col s12',
                        'id': 'name',
                        'type': 'text',
                        'class': 'validate',
                        'label': 'Name',
                        'required': 'true'
                      }
                    ]
                  },
                  {
                    "row": [
                      {
                        'size': 'col s12',
                        'id': 'email',
                        'type': 'email',
                        'class': 'validate',
                        'label': 'Email',
                        'required': 'true'
                      }
                    ]
                  },
                  {
                    "row": [
                      {
                        'size': 'col s12',
                        'id': 'title',
                        'type': 'text',
                        'class': 'validate',
                        'label': 'Query Title',
                        'required': 'true'
                      }
                    ]
                  },
                  {
                    "row": [
                      {
                        'size': 'col s12',
                        'id': 'query',
                        'type': 'textarea',
                        'class': 'materialize-textarea character-counter',
                        'length': '160',
                        'label': 'Query',
                        'required': 'true'
                      }
                    ]
                  }
                ]
              },
              {
                'name': 'button',
                'attr': [
                  {
                    'text': 'Submit'
                  }
                ]
              },
            ],
            's12 m8 l6 push-m2 push-l3'
          )
        }}
    </div>
    
    
    <div class="divider white"></div>
    {{
      macro.footer(marco, [])
    }}
  </main>

{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='dist/js/connect.js') }}"></script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA96SOxSQHgX4eYhCIfqDOmSKDuE7trmDQ&callback=window.initMap' async defer></script>
{% endblock %}