{% extends 'layout.html' %}

{% block title %}Connect with Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/connect.css') }}">
{% endblock %}

{% block nav %}
    {{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'shopping_cart'
      },
      {
        'name': 'Products',
        'color': 'green',
        'href': '/products',
        'icon': 'info_outline'
      },
      {
        'name': 'About Us',
        'color': 'red',
        'href': '/about',
        'icon': 'call_made'
      }
    ]) 
  }}
{% endblock %}

{% block content %}
  {#
    ### Things to place in connect page ###
    1. Location on maps
    2. Address of both shops with 1
    3. FAQs
    4. A query form
    5. Social media handles  
  #}

  {{
    macro.section(
      macro,
      '1',
      'Our Location', 
    )
  }}

  {{
    macro.section(
      macro,
      '1',
      'Our Social Handles', 
    )
  }}
  {#}
  {{
    macro.section(
      macro,
      '1',
      'FAQ', 
      'Some description'
    )
  }}
  {#}
  {{
    macro.section(
      macro,
      '1',
      'Ask Us', 
      [
        {
          'name': 'form',
          'attr': [
            {
              'row': [
                {
                  'size': 'col s12',
                  'id': 'name',
                  'type': 'text',
                  'class': 'validate',
                  'label': 'Name',
                  'required': 'true'
                }
              ]
            },
            {
              "row": [
                {
                  'size': 'col s12',
                  'id': 'email',
                  'type': 'email',
                  'class': 'validate',
                  'label': 'Email',
                  'required': 'true'
                }
              ]
            },
            {
              "row": [
                {
                  'size': 'col s12',
                  'id': 'title',
                  'type': 'text',
                  'class': 'validate',
                  'label': 'Query Title',
                  'required': 'true'
                }
              ]
            },
            {
              "row": [
                {
                  'size': 'col s12',
                  'id': 'query',
                  'type': 'textarea',
                  'class': 'materialize-textarea character-counter',
                  'length': '160',
                  'label': 'Query',
                  'required': 'true'
                }
              ]
            }
          ]
        },
        {
          'name': 'button',
          'attr': [
            {
              'text': 'Submit'
            }
          ]
        },
      ],
      's12 m8 l6 push-m2 push-l3'
    )
  }}

  <div class="divider white"></div>
  {{
    macro.footer(marco, [])
  }}

{% endblock %} 

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/connect.js') }}"></script>
{% endblock %}