{% extends 'layout/base.html' %}

{% block title %}Welcome to Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">

{% endblock %}

{% block content %}
<main class="container">
    <div class="parallax-container">
        <section id="section-1" class="section">
            <div class="underlay"></div>
        </section>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/index.js') }}"></script>
{% endblock %}