{% extends 'layout.html' %}

{% block title %}Welcome to Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">

{% endblock %}

{% block nav %}
{{ 
  macro.nav([
    {
      'name': 'Products',
      'color': 'amber accent-2',
      'href': '/products',
      'icon': 'shopping_cart'
    },
    {
      'name': 'About Us',
      'color': 'green',
      'href': '/about',
      'icon': 'info_outline'
    },
    {
      'name': 'Connect',
      'color': 'red',
      'href': '/connect',
      'icon': 'call_made'
    }
  ]) 
}}
{% endblock %}

{% block content %}

{# Parallax id: 1 #}
{{ 
  macro.parallax(
    macro,
    '1',
    ['prx_1.jpg'],
    'Shreevarada Enterprise',
    'A Growing Frozen Food Distribution Chain'
  ) 
}}

<div class="container">

    {# Product Section #}
    {{
      macro.section(
        macro,
        '1',
        'Our Products', 
        'Some description',
        [
          {
            'id': '1',
            'name': 'carousel',
            'attr': [
                {
                  'href': '#!', 
                  'src': url_for('static', filename='dist/img/1.jpg')
                },
                {
                  'href': '#!', 
                  'src': url_for('static', filename='dist/img/2.jpg')
                },
                {
                  'href': '#!', 
                  'src': url_for('static', filename='dist/img/3.jpg')
                }
            ]
          },
          {
            'name': 'button',
            'attr': [
              {
                'text':'Browse All'
              }  
            ]
          }
        ]
      )
    }}

    {{ 
      macro.section(
        macro,
        '2',
        "Our Services",
        none,
        [
          {
            'id': '1',
            'name': 'card',
            'attr': [
              {
                'url': '1.jpg',
                'title': 'Service Name',
                'content': 'Some descriptive bragging'
              },
              {
                'url': '2.jpg',
                'title': 'Service Name',
                'content': 'Some descriptive bragging'
              },
              {
                'url':'3.jpg',
                'title': 'Service Name',
                'content': 'Some descriptive bragging'
              }
            ]
          }        
        ]
      ) 
    }}
    
    {{ 
      macro.section(
        macro,
        '3',
        "Our Partners",
        none,
        [
          {
            'name': 'card_reveal',
            'attr': [
              {
                'url': 'venkys_logo.png',
                'title': 'Venky\'s'
              },
              {
                'url': 'mccain_logo.png',
                'title': 'Mccain Foods'
              },
              {
                'url': 'kissan_logo.jpeg',
                'title': 'Kissan'
              },
              {
                'url': 'cremica_logo.png',
                'title': 'Cremica'
              },
              {
                'url': 'gadre_logo.png',
                'title': 'Gadre'
              },
              {
                'url': 'ifb_logo.png',
                'title': 'IFB Agro'
              },
              {
                'url': 'delight_logo.png',
                'title': 'Mccain Foods'
              },
              {
                'url': 'valneer_logo.png',
                'title': 'Valneer'
              },
              {
                'url': 'switz_logo.png',
                'title': 'Switz Food'
              },
            ]
          },
          {
            'name': 'button',
            'attr': [
              {
                'text': 'Know more'
              }
            ]
          }
        ]
      ) 
    }}
  </div>
  <div class="divider white"></div>
  {{
    macro.footer(marco, [])
  }}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/index.js') }}"></script>
{% endblock %}