<div class="location-container">
    <div class="row">
        <div class="col s12 m6">
            <div id='map'></div>
        </div>
        <div class="col s12 m6">
            <div class="description-container">
                <div class="row">
                    <div class="col s6">
                        <div class="description">
                            <div class="desc-title">
                                <p>Main Office</p>
                            </div>
                            <div class="desc-content">
                                <p>Shop no. 15-178/A-G-2</p>
                                <p>Burhani Building</p>
                                <p>Khariwad, Nani Daman</p>
                                <p>Daman - 396210</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="description">
                            <div class="desc-title">
                                <p>Contact Info</p>
                            </div>
                            <div class="desc-content">
                                <p>+91 98241 03540</p>
                                <p>+91 81409 84400</p>
                                <p>shreevarada76@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="description">
                            <div class="desc-title">
                                <p>Retail Office</p>
                            </div>
                            <div class="desc-content">
                                <p>Tara Terrace</p>
                                <p>Khariwad, Nani Daman</p>
                                <p>Daman - 396210</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="description">
                            <div class="desc-title">
                                <p>Contact Info</p>
                            </div>
                            <div class="desc-content">
                                <p>+91 74349 46660</p>
                                <p>shreevarada76@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>