{% extends 'layout.html' %}

{% block title %}Products of Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/products.css') }}">
{% endblock %}

{% block nav %}

{{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'home'
      },
      {
        'name': 'About Us',
        'color': 'green',
        'href': '/about',
        'icon': 'info_outline'
      },
      {
        'name': 'Connect',
        'color': 'red',
        'href': '/connect',
        'icon': 'call_made'
      }
    ]) 
  }}

{% endblock %}

{% block content %}
<main class="main">
    {{
        macro.slider([
            {
              'src': 'products/slider/vegetables.jpg',
              'header': 'Delicious Veg Options',
              'color': '#4CAF50c7 !important'
            },
            {
              'src': 'products/slider/chicken.jpg',
              'header': 'Choicest Chicken Delights',
              'color': '#f44336c7'
            },
            {
              'src': 'products/slider/fish.jpg',
              'header': 'Variety of Quality Fishes',
              'color': '#808080c7'
            },
            {
              'src': 'products/slider/cheese.jpg',
              'header': 'An Exquisite Collection of Cheese',
              'color': '#ffca28c7'
            },
            {
              'src': 'products/slider/chocolate.jpg',
              'header': 'Imported World-Class Chocolates',
              'color': '#795548c7'
            },
            {
              'src': 'products/slider/mocktails.jpg',
              'header': 'Refreshing Squashes and Mocktails',
              'color': '#ffa500c7'
            },
            {
              'src': 'products/slider/pizza.jpg',
              'header': 'Satisfying and Delicious Pizzas',
              'color': '#f44336c7'
            },
            {
              'src': 'products/slider/sauce.webp',
              'header': 'A Range of Appletizing Sauces',
              'color': '#ffa500c7'
            },
            {
              'src': 'products/slider/whipped_cream.jpg',
              'header': 'Fresh Dressings And Spreads',
              'color': '#89d7e1c7'
            }
        ])
    }}
    <div class="container">
      {% for company_name, company in companies.items() %}      
        <div id="{{ company_name }}" class="section products" data-toggle="hide">
          <div class="row">
              <div class="col s12 l10 push-l1">
                <div class="section-content white ">
                  <div class="section-header">
                    <h3 class="header center mr-b-10">{{ company['name'] }}</h3>
                  </div>
                  <div class="divider"></div>
                  <div class="section-content">
                    <!-- <div><img src="{{ url_for('static', filename='dist/img/') }}{{ company['logo']}}" alt=""></div> -->
                    {% if description %} 
                      <div class="section-description">
                        <p class="grey-text text-darken-3 lighten-3">
                          <!-- Some short description on the products that are being offered. -->
                         {# {{ description }} #}
                        </p>
                      </div>
                    {% endif %}
                    <div class="components section-components">
                      {{ macro.productCard(company['products'], company_name, company.get('logo')) }}
                      {% if company['products'] | length > 12 %}
                        {{ 
                          macro.button([
                            {
                              'text': 'Show all'
                            }
                          ]) 
                        }}
                      {% endif %}
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>
      {% endfor %}
      </div>

  <div class="divider white"></div>
  
  {{
    macro.footer(marco, [])
  }}
</main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/products.js') }}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
{% endblock %}