{% extends 'layout.html' %}

{% block title %}Products of Shreevarada Enterprises{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/products.css') }}">
{% endblock %}

{% block nav %}

{{ 
    macro.nav([
      {
        'name': 'Home',
        'color': 'amber accent-2',
        'href': '/',
        'icon': 'home'
      },
      {
        'name': 'About Us',
        'color': 'green',
        'href': '/about',
        'icon': 'info_outline'
      },
      {
        'name': 'Connect',
        'color': 'red',
        'href': '/connect',
        'icon': 'call_made'
      }
    ]) 
  }}

{% endblock %}

{% block content %}

    {{
        macro.slider([
            {
              'src': 'vegetables.jpg',
              'header': 'Delicious Veg Options',
              'btn-color': 'green',
              'scrollto': 'veg'
            },
            {
              'src': 'chicken.jpg',
              'header': 'Choicest Chicken Delights',
              'btn-color': 'red',
              'scrollto': 'chicken'
            },
            {
              'src': 'fish.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'cheese.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'chocolate.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'mocktails.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'pizza.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'sauce.webp',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'whipped_cream.jpg',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
            {
              'src': 'samosa.png',
              'header': 'Variety of Quality Fishes',
              'btn-color': 'yellow'
            },
        ])
    }}
    <main class="container">
      {#}
      {{
        macro.section(
          macro,
          'filter',
          'Filter Products',
          none,
          [
            {
              'name': 'dropdown',
              'attr': {
                 'name': 'Veg',
                 'items': [
                  'veg', 'chicken', 'fish'
                 ] 
              }
            }
          ]
        )
      }}
       {{
         macro.sectionProducts(
          macro, 
          'veg',
          'Veg Fryable',
          'All products are pure veg',
          [
            {
              'name': 'card',
              'attr': [
                {
                  'size': 's6 m4 l3',
                },
                {
                  'url': '1.jpg',
                  'title': 'French Fries',
                  'content': '1kg | Rs. 200',
                  'products': [
                    
                  ]
                },
                {
                  'url': '2.jpg',
                  'title': 'Smiley',
                  'content': '500g | Rs. 150'
                },
                {
                  'url': '3.jpg',
                  'title': 'Aloo Tikki',
                  'content': '500g | Rs. 180'
                },
              ]
            }        
          ]
         )
       }}

       {{
        macro.section(
         macro, 
         'chicken',
         'Chicken',
         'All products are pure chicken',
         [
           {
             'name': 'card',
             'attr': [
                {
                  'size': 's6 m4 l3',
                },
               {
                 'url': '1.jpg',
                 'title': 'French Fries',
                 'content': '1kg | Rs. 200'
               },
               {
                 'url': '2.jpg',
                 'title': 'Smiley',
                 'content': '500g | Rs. 150'
               },
               {
                 'url': '3.jpg',
                 'title': 'Aloo Tikki',
                 'content': '500g | Rs. 180'
               },
             ]
           }        
         ]
        )
      }}
      #}
      {% for company_name, company in companies.items() %}      
        <div id="{{ company['name'] }}" class="section products">
          <div class="row">
              <div class="col s12 l10 push-l1">
                <div class="section-content white ">
                  <div class="section-header">
                    <h3 class="header center mr-b-10">{{ company['name'] | capitalize }}</h3>
                  </div>
                  <div class="divider"></div>
                  <div class="section-content">
                    <!-- <div><img src="{{ url_for('static', filename='dist/img/') }}{{ company['logo']}}" alt=""></div> -->
                    {% if description %} 
                      <div class="section-description">
                        <p class="grey-text text-darken-3 lighten-3">
                          <!-- Some short description on the products that are being offered. -->
                         {# {{ description }} #}
                        </p>
                      </div>
                    {% endif %}
                    <div class="components section-components">
                      {{ macro.productCard(company['products'], company_name, company.get('logo')) }}
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>
      {% endfor %}
    </main>

  <div class="divider white"></div>
  
  {{
    macro.footer(marco, [])
  }}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/products.js') }}"></script>
{% endblock %}